<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD8gL6_aJgnL_j24LpiIMk-OTBSRIot9K4&sensor=false" ></script>


<h1>Fact#show (detalles del evento)</h1><br />

<%if  current_usuario != nil%>
	<% if (@eventos_detail.usuario_id == current_usuario.id) %>
	Administrar:
	<div class="btn"><%=link_to "Editar", eventos_editar_path%></div>
	<div class="btn"><%=link_to "Eliminar", eventos_eliminar_path%></div><br />
	<%end %>
<%end %>

<div class="row">
	<div class="span4">
		<img src="http://lorempixel.com/300/400/nightlife/" />
	</div>
	<div class="span8">
		
		<b>Fecha:</b> <%= @eventos_detail.fecha%><br /><br />
		<b>Nombre:  </b> <%= @eventos_detail.nombre %><br /><br />
		<b>Descripcion:</b> <%= @eventos_detail.descripcion %><br /><br />
		<b>Direccion:</b><%= @eventos_detail.direccion %><br /><br />
		<b>Ciudad: </b><%= @eventos_detail.ciudad.nombre %><br /><br />
		<b>Website:</b><%= @eventos_detail.website %><br /><br />

		<i>Usuario que lo creo?...</i>
	</div>
</div>


Mapa:<br /><br />
<div id="map_canvas" style="width:500px; height:500px; border: 5px solid"></div>
<br /><br /><br />
Rating: 0/5 estrellas

<script type="text/javascript">

	$(document).ready(function(){
		var latitud  = <%= @eventos_detail.latitud %>;
		var longitud = <%= @eventos_detail.longitud %>;
		
		createMap(latitud,longitud);
		loadMarker(latitud,longitud,false);
	});

</script>