<style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 50% }
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD8gL6_aJgnL_j24LpiIMk-OTBSRIot9K4&sensor=false" ></script>


<h1>Aplicación para eventos con javascript</h1><br />

<h3><%= Date.today %></h3>
<br />
<br />
<div id="panel-izq">
	Panel izquierdo
	<ul>
		<li><%= link_to "Ciudades", ciudades_path %></li>
		<li><%= link_to "Eventos", eventos_list_path %></li>
		<li><%= link_to "Categorias", categorias_path %></li>
		<li><%= link_to "Fechas/Calendario", fechas_list_path %></li>
	</ul>
</div>
<hr />
<div id="Panel central" >
	Panel central
	
	<% if current_usuario != nil %>
		<h3>Conectado</h3>
		<%= link_to "Agregar evento!", evento_nuevo_path %>
	<%else %>
		<h3>Desconectado</h3>
		
	<% end %>
	<br />
	<br />
	
</div>
<br />
Descubre que esta pasando es tu ciudad! <br />
<button onclick="localizarUser()">Localizame!</button>

Yo lo escojo!
<select id="ciudad-id" onchange="hola()">
<% @ciudades_list.each do |ca| %>
	<option value=<%= ca.id %>><%= ca.nombre %></option>
<% end %>
</select>
<div id="map_canvas" style="width:50%; height:50%; border: 5px solid"></div>
<br />
<br />
<hr />



<div id="panel-derecho">
	Panel derecho
	Desplegar info tiempo real de actualizaciones/Eventos pagados
</div>

<br />
<br />
<hr />
<script type="text/javascript">
$(document).ready(function()
{ 
	/*var lat = "null", lon = "null", ciudad="null";
	var direccion = "http://smart-ip.net/geoip-json?callback=?";
	//console.log("Valor: " + direccion);
	
	$.getJSON(direccion,function(json)
	{
		//console.log("Hello there")
		//console.log(json);
		 lat =  json.latitude;
		 lon =  json.longitude;
		 ciudad= json.city;		
		ponerCiudad(ciudad)
		cambiaCiudad(lat,lon);
	});// fin del get
	
	function ponerCiudad(nombre)
	{
		$("#ciudad").append(nombre);
	}*/

	
})

function hola(){
	var value = $("#ciudad-id :selected").val();
	var direccion = '/servicios/ciudad_detail.json?id='+value;
	var lat = "null", lon = "null";
	
	//console.log("Valor: " + direccion);
	
	$.getJSON(direccion,function(json)
	{
		//console.log(json);
		var lat =  json.latitud;
		var lon =  json.longitud;
		
		cambiaCiudad(lat,lon);
	});// fin del get
}
</script>

