<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>Consola</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	
	<div style="float: left">
		<%=link_to "Home", root_path %>
	</div>
	<div id="user_nav">
	<% if current_usuario != nil %>
		<%= link_to current_usuario.email, usuario_profile_path(current_usuario.id) %><br />
		<%= link_to "LogOut", destroy_usuario_session_path, :method => :delete%>

	<% else %>
		<%= link_to "Iniciar sesión", new_usuario_session_path %><br />
		<%= link_to "Registrate", new_usuario_registration_path %>
	<% end %>
		
	</div>
</div>

<%= yield %>

<div>
<footer style="border: 1px solid">
	
	<p><%= link_to "Sugerencias", sugerencias_page_path%></p>
</footer>
</div>
</body>
</html>
